@import url('https://fonts.googleapis.com/css?family=Athiti:200,300,400,500,600,700&subset=thai');

body {
    font-family: 'Athiti', sans-serif;
}

#heading {
    background: url('../image/heading3.1.jpg');
    background-size: cover;
    background-position: left;
    color: rgb(15, 89, 199);
}

#heading h1 {
    font-size: 6.5em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(85, 9, 129);
}

#heading p {
    font-size: 2.5em;
    font-weight: 500;
}

#dataset {
    background: url('../image/dataset3.2.jpg');
    background-color: #494e5c;
    background-size: cover;
    background-position: center;
    color: rgb(12, 12, 12);
}

#dataset h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(46, 1, 40);
}

#dataset h2 a {
    font-size: 2em;
    font-weight: 500;
    color: rgb(255, 163, 25);
}

#dataset h3 {
    font-size: 3em;
    font-weight: 550;
    color: rgb(27, 55, 116);
}

#dataset h4 a {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#dataset h4 a:hover {
    color: rgb(44, 29, 179);
    text-decoration: underline;
}

#conclusion-title {
    background-color: #443d38;
    color: #fff;
}

#conclusion-title h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(224, 41, 35)
}

#conclusion-title h2 {
    font-size: 2.5em;
    font-weight: 400;
}

#chart-title {
    background: url('../image/blue.1.jpg');
    background-size: cover;
    background-position: left;
    color: rgb(0, 0, 0);
}

#chart-title h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(8, 1, 110)
}

#chart-title h2 {
    font-size: 2.5em;
    font-weight: 500;
}

#chart-title_2 {
    background: url('../image/white.jpg');
    background-size: cover;
    background-position: right;
    color: rgb(247, 115, 247);
}

#chart-title_2 h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(20, 20, 20)
}

#chart-title_2 h2 {
    font-size: 2.5em;
    font-weight: 500;
}

#chart-title_3 {
    background: url('../image/pink.jpg');
    background-size: cover;
    background-position: left;
    color: rgb(0, 0, 0);
}

#chart-title_3 h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(197, 38, 38)
}

#chart-title_3 h2 {
    font-size: 2.5em;
    font-weight: 500;
}

#chart-title_4 {
    background: url('../image/green.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
}

#chart-title_4 h1 {
    font-size: 6em;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(52, 250, 26)
}

#chart-title_4 h2 {
    font-size: 2.5em;
    font-weight: 500;
}

.chart-svg {
    vertical-align: middle;
}

.chart-content {
    background-color: #383d39;
    color: rgb(248, 240, 229);
}

.content {
    padding-right: 3em;
    padding-left: 3em;
}

.chart-content p {
    text-indent: 2em;
}

.content-title {
    color: #FFE400;
    text-decoration: underline;
}

.conclusion-title {
    font-size: 3.5em;
    color: #FFE400;
    text-decoration: underline;
}

.lead {
    text-align: justify;
    font-size: 1.3em;
}

.lead_c {
    text-align: justify;
    font-size: 1.6em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section-tools {
    background-color: #383838;
    color: #fff;
    padding-right: 1em;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.text-muted {
    color: #ddd !important;
}

.text-primary {
    color: #fed136 !important;
}

ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #f73636;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    min-width: 160px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 1em;
}

/* Override fullpage.js */
#fp-nav ul li a span {
    background: #fff !important;
}